   

:root {
    --base:rgb(47, 48, 43);
    --spacing:10px;
    --blur:10px;
}

img{
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.h1{

    color: var(--base);
}

input{
    width: 100px;
}

a{
    color: var(--base);
    text-decoration: none;
}

.controls{
    margin-bottom: 50px;
}

body{
    background: rgb(255, 208, 0);
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 50px;

}

body{
    text-align: center;
}