html{
    box-sizing: border-box;
    background-color: rgb(231, 231, 93);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 200;
    
}

body{
    margin: 0;

}

*,*:before, *:after{
    box-sizing: inherit;
}

.panel{
    background-color: purple;
    box-shadow: inset 0 0 0 5px rgb(255, 255, 255,0.1);
    color:rgb(255, 255, 255);
    text-align: center;
    align-items: center;

    /*chrome +FF transitionend event.propertyName ===flex-grow*/
    transition: font-size 0.7s cubic-bezier(0.61,-0.19,0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19,0.7,-0.11),
    background 0.2s;
    background-size: cover;
    background-position: center;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.panels{
    min-height: 100vh;
    overflow: hidden;
    display: flex;
}

.panel1{background-image: url('././img/alex-azabache-V83v-MYB_Z8-unsplash.jpg');}
.panel2{background-image: url('./img/felix-rostig-UmV2wr-Vbq8-unsplash.jpg');}
.panel3{background-image: url('./img/philipp-kammerer-6Mxb_mZ_Q8E-unsplash.jpg');}
.panel4{background-image: url('./img/timo-stern-iUBgeNeyVy8-unsplash.jpg');}
.panel5{background-image: url('./img/tom-barrett-M0AWNxnLaMw-unsplash.jpg');}

.panel > *{

    margin: 0;
    width: 100%;
    transition: tranform 0.5s;
    flex: 1 0 auto;
    display: flex ;
    justify-content: center;
    align-items: center;
}

.panel > *:first-child {transform: translateY(-100%);} /*transition*/
.panel.open-active > *:first-child{transform: translateY(0);} /*transmition*/

.panel > *:last-child {transform: translateY(100%);} /*transition*/
.panel.panel.open-active > *:last-child{transform: translateY(0);} /*transition*/

.panel p {
    text-transform: uppercase;
    font-family: 'amatic sc' ,cursive;
    font-size: 2rem;
}

.panel p:nth-child(5) {
    font-family: 4rem;
}

.panel.open{
         flex: 5;
}