html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*,*::before, *::after{
    box-sizing: inherit;
}

body{
    min-height: 100vh;
    background: linear-gradient(135deg, orange 60%, cyan),
                linear-gradient(45deg, red, blue),
                linear-gradient(90deg , red, blue),
                linear-gradient(90deg , red, rgb(123, 123, 126));;

}

nav{
    position: relative;
    perspective: 600px;
}

.cool > li >a{
    color: yellow;
    text-decoration: none;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    display: inline-block;
    margin: 20px;
    border-radius: 5px;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.cool > li{
    position: relative;
    display: flex;
    justify-content: center;
}

.dropdown{
    opacity: 0;
    position: absolute;
    overflow: hidden;
    padding: 20px;
    top: -20px;
    border-radius: 2px;
    transition: all 0.5s;
    transform: translateY(100px);
    will-change: tranform;
    display: none;
}

.trigger-enter .dropdown{
    display: block;
   
}

.trigger-enter-active .dropdown{
    opacity: 1;
}

.dropdownbackground{
    width: 100px;
    height: 100px;
    position: absolute;
    background: white;
    border-radius: 4px;
    box-shadow:
    inset 0 -3em 3em rgb(0 200 0 / 30%),
    0 0 0 2px white,
    0.3em 0.3em 1em rgb(200 0 0 / 60%);
    transition: all 0.3s,opacity 0.1s,translate 0.2s;
    transform-origin: 50% 0%;
    display: flex;
    justify-content: center;
    opacity: 0;

}

.arrow{
    position: absolute;
    width: 20px;
    height: 20px;
    display: flex;
    display: block;
    background: white;
    transform: translateY(-50%) rotate(45deg);

}

.bio{
    min-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.7;
}

.bio img{
    float: left;
    margin: 20px;

}

.courses{
    min-width: 500px;
}

.courses li{
    padding: 10px 0;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    
}

.dropdown a{
    text-decoration: none;
    color: yellow;
}

a.button{
    background: black;
    display: flex;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
}

.button[href*=twitter]{background: rgb(146, 146, 192);}
.button[href*=twitter]{background: rgb(187, 255, 0);}
.button[href*=twitter]{background: rgb(9, 97, 46);}
